<h3>Full Width Alerts</h3>

<h4>Primary</h4>
<figure class="alert alert--primary" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>

<br/>

<h4>Secondary</h4>
<figure class="alert alert--secondary" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<br/>

<h4>Success</h4>
<figure class="alert alert--success" role="alert">
  <img src="{{path '/icons/denotive/form-success.svg'}}" alt="success">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>

<br/>

<h4>Error</h4>
<figure class="alert alert--error" role="alert">
  <img src="{{path '/icons/denotive/form-error.svg'}}" alt="error">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<br/>

<h4>Warning</h4>
<figure class="alert alert--warning" role="alert">
  <img src="{{path '/icons/denotive/form-warning.svg'}}" alt="warning">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>

<br/>

<h3>Inline Block Alerts</h3>

<h4>Primary</h4>
<figure class="alert alert--primary inline-block" role="alert">
  <figcaption>A simple primary alert-check it out!</figcaption>
</figure>

<br/>

<h4>Secondary</h4>
<figure class="alert alert--secondary inline-block" role="alert">
  <figcaption>A simple secondary alert-check it out!</figcaption>
</figure>

<br/>

<h4>Success</h4>
<figure class="alert alert--success inline-block" role="alert">
  <img src="{{path '/icons/denotive/form-success.svg'}}" alt="success">
  <figcaption>A simple success alert-check it out!</figcaption>
</figure>

<br/>

<h4>Error</h4>
<figure class="alert alert--error inline-block" role="alert">
  <img src="{{path '/icons/denotive/form-error.svg'}}" alt="error">
  <figcaption>A simple error alert-check it out!</figcaption>
</figure>

<br/>

<h4>Warning</h4>
<figure class="alert alert--warning inline-block" role="alert">
  <img src="{{path '/icons/denotive/form-warning.svg'}}" alt="warning">
  <figcaption>A simple warning alert-check it out!</figcaption>
</figure>
