

<div class="ucla campus example">
  <div class="col span_12_of_12">
    1 of 1
  </div>
</div>

{{ render '@grid--two' }}
{{ render '@grid--three' }}
{{ render '@grid--four' }}
{{ render '@grid--five' }}
{{ render '@grid--six' }}
{{ render '@grid--seven' }}
{{ render '@grid--eight' }}
{{ render '@grid--nine' }}
{{ render '@grid--ten' }}
{{ render '@grid--eleven' }}
{{ render '@grid--twelve' }}
{{ render '@grid--column-span' }}
{{ render '@grid--nested-columns' }}