<div class="tile">
  <a class="tile__link" href="https://ucla.edu">
    {{ title }}
    <img class="tile__image" src="{{path '/img/examples/tile-example-1.jpg'}}" alt="Royce Hall">
  </a>
</div>

<div class="tile short">
  <a class="tile__link" href="https://ucla.edu">
    {{ title }}
    <img class="tile__image" src="{{path '/img/examples/tile-example-1.jpg'}}" alt="Royce Hall">
  </a>
</div>

<div class="tile">
  <a class="tile__link" href="https://ucla.edu">
    {{ title }}
  </a>
</div>

<div class="tile short">
  <a class="tile__link" href="https://ucla.edu">
    {{ title }}
  </a>
</div>
