<section class="accordion mt-16">
	<dl>
        <button class="accordion__title" aria-expanded="false">
        	<dt>{{ dropdown.title }}</dt>
        </button>

        <dd class="accordion__content"> 
            <p>         
        		{{ dropdown.content }}
        	</p>
        </dd>         

    </dl>    
</section>

<section class="accordion">
	<dl>
        <button class="accordion__title" aria-expanded="false">
        	<dt>{{ dropdown.title }}</dt>
        </button>

        <dd class="accordion__content"> 
            <p>         
        		{{ dropdown.content }}
        	</p>
        </dd>         

    </dl>    
</section>

<section class="accordion last mb-16">
	<dl>
        <button class="accordion__title" aria-expanded="false">
        	<dt>{{ dropdown.title }}</dt>
        </button>

        <dd class="accordion__content"> 
            <p>         
        		{{ dropdown.content }}
        	</p>
        </dd>         

    </dl>    
</section>
