
	<div class="footer__dept">

		<img class="footer__dept--logo" src="{{path '/img/examples/footer-stratcomm-logo.svg'}}" alt="Strategic Communications Logo">

		<div class="footer__dept--info">
			<address class="footer__dept--contact">
				10889 Wilshire Blvd., Suite 1400<br />Los Angeles, CA 90024<br />(626) 123-4567<br /><a href="mailto:contact@stratcomm.ucla.edu" class="white-link">contact@stratcomm.ucla.edu</a>
			</address>

			<div class="footer__dept--social">
				<a href="#" class="footer__dept--social-facebook">
					<img src="{{path '/icons/social/facebook--white.svg'}}" />
				</a>
				<a href="#" class="footer__dept--social-twitter">
					<img src="{{path '/icons/social/twitter--white.svg'}}" />
				</a>
				<a href="#" class="footer__dept--social-instagram">
					<img src="{{path '/icons/social/instagram--white.svg'}}" />
				</a>
				<a href="#" class="footer__dept--social-snapchat">
					<img src="{{path '/icons/social/snapchat--white.svg'}}" />
				</a>
				<a href="#" class="footer__dept--social-linkedin">
					<img src="{{path '/icons/social/linkedin--white.svg'}}" />
				</a>
				<a href="#" class="footer__dept--social-youtube">
					<img src="{{path '/icons/social/youtube--white.svg'}}" />
				</a>
				<a href="#" class="footer__dept--social-tiktok">
					<img src="{{path '/icons/social/tiktok--white.svg'}}" />
				</a>
			</div>
		</div>


		<nav class="footer__dept--links">
			<div class="footer__dept--links-wrapper">
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
			</div>
			<div class="footer__dept--links-wrapper">
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
			</div>
			<div class="footer__dept--links-wrapper">
				<ul>
					<li>Heading</li>
					<li><a href="#">A Link</a></li>
					<li><a href="#">A Link</a></li>
				</ul>
			</div>
		</nav>
	</div>
